<!DOCTYPE html>
<html lang="en">
<head>
  <title>edit</title>

  <meta charset="utf-8">
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700%7CLato:300,400,400i,700' rel='stylesheet'>

  <!-- Css -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-icons.css" />
  <link rel="stylesheet" href="css/style.css" />

  <!-- Favicons -->
  <link rel="shortcut icon" href="img/student.png">
  <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">
  <style>

    form{
      width: 80%;
      border: 1px solid grey;
      height: 70vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  </style>

</head>

<body data-spy="scroll" data-offset="60" data-target=".nav__holder">

  <!-- Preloader -->
  <div class="loader-mask">
    <div class="loader">
      "Loading..."
    </div>
  </div>

  <main class="main-wrapper">

    <!-- Navigation -->
    <header class="nav nav--sticky-on-mobile" id="home">

      <div class="nav__holder" id="sticky-nav">
        <div class="container">
          <div class="flex-parent">

            <div class="nav__header clearfix">
              <!-- Logo -->
              <div class="logo-wrap local-scroll">
                <a href="#home" class="logo__link">
                  <!--<img class="logo logo--dark" src="img/logo_dark.png" alt="logo">-->
				 <h3> Student Resources</h3>
                </a>
              </div>

              <button type="button" class="nav__icon-toggle" id="nav__icon-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
                <span class="nav__icon-toggle-bar"></span>
              </button>
            </div> <!-- end nav-header -->


            <nav id="navbar-collapse" class="nav__wrap collapse navbar-collapse">
              <ul class="nav__menu nav__menu--inline local-scroll" id="onepage-nav">
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/userform">Create Resource</a>
                </li>
                <li>
                  <a href="/list.ejs">List Resource</a>
                </li>
              </ul><!-- end menu -->

            </nav> <!-- end nav-wrap -->


          </div> <!-- end flex-parent -->
        </div> <!-- end container -->

      </div>
    </header> <!-- end navigation -->


    <div class="content-wrapper oh">

      <!-- Hero -->
  <!-- end hero -->
  <div class="flexCE">
        <form action="https://studentresourc.herokuapp.com/api/v1/updateresource/<%=details.id %>" class="newsletter__form relative mt-20" method="post">
          <h1>Details of <%=details.name %> </h1>
<input name="name" required placeholder="Your Name" value=<%=details.name %> ><br>
<input name="matricId" required placeholder="Matric Id" value=<%=details.matricId %> ><br>
<input name="sex" required placeholder="Sex" value=<%=details.sex %> ><br>
<input name="level" required placeholder="Level" value=<%=details.level %> ><br>
<input name="department" required placeholder="Department" value=<%=details.department %>><br>
<input name="email" required placeholder="Email" value=<%=details.email %> ><br>
<input name="phone" required placeholder="Phone Number" value=<%=details.phone %> ><br>
<input type="submit" value="submit">
        </form>
      </div>
    </div>

      <!-- CTA -->
     <!-- end CTA -->


      <!-- Footer -->
      <footer class="footer">


        <div class="footer__bottom top-divider">
          <div class="container text-center">
            <span class="copyright">
              &copy; 2017, All Rights Reserved.</a>
            </span>
          </div>
        </div> <!-- end footer bottom -->
      </footer> <!-- end footer -->


      <div id="back-to-top">
        <a href="#top"><i class="ui-arrow-up"></i></a>
      </div>

    </div> <!-- end content wrapper -->
  </main> <!-- end main wrapper -->


  <!-- jQuery Scripts -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/plugins.js"></script>
  <script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>
